.heading {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 38px;
  color: 	#008B8B;
  border-bottom: 1px solid #008b8b;
  margin-left: 40px
}
.heading2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 38px;
  color: 	#008B8B;
  border-bottom: 1px solid #008b8b;
  margin-left: 5px
}
.second {
  font-size: 28px;
  color: 	#008B8B;
  margin-left: 175px
}
.content { 
  font-size: 17px;
  margin-left: 40px
}

.imageborder {
    border: 2px solid #008b8b;
    border-radius: 4px;
    padding: 5px;
    width: 150px
}
